.mh-typeahead {
  background-color: #fff;
  box-shadow:   0 2px 0 0 rgba(0, 0, 0, 0.1),   inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  display: none;
  margin-top: 10px;
  max-width: calc(100% - 40px);
  padding: 10px 1px;
  position: absolute;
  width: 300px;
  z-index: 4; }
  .mh-typeahead--open {
    display: block; }
  .mh-typeahead__suggestion {
    padding: 5px 10px; }
    .mh-typeahead__suggestion:nth-child(even) {
      background-color: #eff2f4; }
    .mh-typeahead__suggestion:hover {
      background-color: rgba(226, 106, 106, 0.15);
      cursor: pointer; }
    .mh-typeahead__suggestion > mark {
      background-color: transparent;
      color: #666;
      font-weight: bold; }
    .mh-typeahead__suggestion--focused, .mh-typeahead__suggestion--focused:hover, .mh-typeahead__suggestion--focused:nth-child(even) {
      background-color: #e26a6a;
      color: #fff; }
      .mh-typeahead__suggestion--focused > mark, .mh-typeahead__suggestion--focused:hover > mark, .mh-typeahead__suggestion--focused:nth-child(even) > mark {
        color: #fff; }
